.success {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(16, 116, 16);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(206, 0, 0);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
